!!!
%html
    %head
        %meta{:charset => "utf-8"}/
        %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
        %title
            Dashboard
            ="| #{@club.name}"
        %link{:href => "/css/dashboard.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/icons/css/font-awesome.min.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/graphics/icon.png", :rel => "shortcut icon", :type => "image/png"}/
        %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"}
    %body
        -if !params[:hidden].nil?
            #overlay
            #addhead.popup
                %h1
                    Add Co-Head or Transfer Ownership
                %i.fa.fa-times{:onclick => "closepopup()"}
                %hr
                -if flash[:error]
                    .error
                        %p
                            =flash[:error]
                .members
                    -if @club.head.length == 1 and @club.members.length == 0 and @club.board.length == 0
                        %p.frown
                            Your club needs to have members before you can add a co-head
                    -else
                        %p.frown
                            Select co-heads:
                        %form{:action => "/updateheads", :method => "post"}
                            %input{:type => "text", :name => "club", :value => @club.name, :hidden => ""}
                            -@club.head.each do |member|
                                %input.checkbox{:type => "checkbox", :checked => "checked", :name => "coheads[]", :value => member}
                                =member
                                %br
                            -@club.board.each do |member|
                                %input.checkbox{:type => "checkbox", :name => "coheads[]", :value => member}
                                =member
                                %br
                            -@club.members.each do |member|
                                %input.checkbox{:type => "checkbox", :name => "coheads[]", :value => member}
                                =member
                                %br
                            %input.btn{:type => "submit", :value => "Save Changes"}
        -else
            #overlay{:hidden => ""}
            #addhead.popup{:hidden => ""}
                %h1
                    Add Co-Head or Transfer Ownership
                %i.fa.fa-times{:onclick => "closepopup()"}
                %hr
                -if flash[:error]
                    .error
                        %p
                            =flash[:error]
                .members
                    -if @club.head.length == 1 and @club.members.length == 0 and @club.board.length == 0
                        %p.frown
                            Your club needs to have members before you can add a co-head
                    -else
                        %p.frown
                            Select co-heads:
                        %form{:action => "/updateheads", :method => "post"}
                            %input{:type => "text", :name => "club", :value => @club.name, :hidden => ""}
                            -@club.head.each do |member|
                                %input.checkbox{:type => "checkbox", :checked => "checked", :name => "coheads[]", :value => member}
                                =member
                                %br
                            -@club.board.each do |member|
                                %input.checkbox{:type => "checkbox", :name => "coheads[]", :value => member}
                                =member
                                %br
                            -@club.members.each do |member|
                                %input.checkbox{:type => "checkbox", :name => "coheads[]", :value => member}
                                =member
                                %br
                            %input.btn{:type => "submit", :value => "Save Changes"}
        #addboard.popup{:hidden => ""}
            %h1
                Add Board Member
            %i.fa.fa-times{:onclick => "closepopup()"}
            %hr
            .members
                -@club.members.each do |member|
                    %section
                        %p
                            =member
                        %a.btn{:href => "/addboard/#{@club.name}/#{member}"}
                            %i.fa.fa-plus
                            Add to Board
                    %hr
                -if @club.members.length == 0
                    %p.frown
                        Your club needs to have members before you can add a board
        #confirm.popup{:hidden => ""}
            %i.fa.fa-times{:onclick => "closepopup()"}
            .center
                %h1
                    Wait!
                %p 
                    Are you sure you want to delete your club? 
                %a.btn.red{:href => "/delete/#{@club.name}"}
                    DELETE CLUB
        #editimage.popup{:hidden => ""}
            %h1 
                Change Club Picture
            %i.fa.fa-times{:onclick => "closepopup()"}
            %hr
            %form{:action => "/updateimage", :method => "post", :enctype => "multipart/form-data"}
                %input{:type => "text", :name => "club", :value => @club.name, :hidden => ""}
                %input{:type => "file", :name => "img", :accept => "image/gif, image/jpeg, image/png, image/jpg"}
                %br
                %input.btn{:type => "submit", :value => "Submit"}
        #mail.popup{:hidden => ""}
            %i.fa.fa-times{:onclick => "closepopup()"}
            .center
                -if @people.length == 0
                    %h1
                        Oops!
                    %p
                        Your club needs to have members before you can send emails
                -else
                    %h1
                        Send Mail
                    %p
                        Use this email address:
                        %br
                        =@list
                        %br
                        or
                    %a.btn{:href => "mailto:#{@list}"}
                        USE DEFAULT EMAIL APP

        #wrapper
            %nav
                .left
                    %p
                        CLUB RALLY
                .right
                    %a{:href => "/logout"}
                        LOGOUT
                    .contain
                        %form{:action => "/dashboard/search", :method => "get"}
                            %span.fa.fa-fw.fa-search
                            %input{:type => "text", :name => "search"}
            #body
                #sidebar
                    .opt
                        %a{:href => "/dashboard/home"}
                        .left
                            %i.fa.fa-users.fa-fw
                            .color
                        .right
                            MY CLUBS
                    .opt.active
                        %a{:href => "/dashboard/browse"}
                        .left
                            %i.fa.fa-folder-open.fa-fw
                            .color
                        .right
                            BROWSE CLUBS
                    .opt
                        %a{:href => "/dashboard/notifications"}
                        .left
                            %i.fa.fa-newspaper-o.fa-fw
                            .color
                        .right
                            FEED
                            -unless @user.notifications.length == 0
                                ="(#{@user.notifications.length})"
                    .opt
                        %a{:href => "/dashboard/createclub"}
                        .left
                            %i.fa.fa-plus.fa-fw
                            .color
                        .right
                            CREATE A CLUB
                #content
                    #color-strip
                    %header
                        %h1
                            =params[:club]
                    #info.club
                        #overhead
                            .img{:style => "background-image: url(/upload/#{@club.img})"}
                                -if @club.board.include?(session[:username]) or @club.head.include? session[:username]
                                    .overlay{:onclick => "openpopup('editimage')"}
                                        .center
                                            %i.fa.fa-pencil
                            .text
                                %h1
                                    =@club.name
                                %p
                                    ="#{@club.description} • #{@club.tag}"
                                    -if @club.website.length > 0
                                        =" • "
                                        %a{:href => "http://#{@club.website}", :target => "_blank"}
                                            =@club.website
                            .buttons
                                - if @club.head.include?(session[:username]) or @club.board.include?(session[:username])
                                    %a.btn-long{:onclick => "openpopup('mail')"}
                                        %i.fa-fw.fa.fa-envelope
                                        SEND MAIL
                                - if @club.head.include?(session[:username]) or Admin.all.include?(session[:username])
                                    %a.btn{:href => "/edit/#{@club.name}"}
                                        %i.fa.fa-fw.fa-pencil
                                    %a.btn{:onclick => "openpopup('confirm')"}
                                        %i.fa.fa-fw.fa-trash
                                - if @club.members.include?(session[:username]) or @club.board.include?(session[:username])
                                    %form#leave{:method => "post", :action => "/leave"}
                                        %input{:type => "text", :name => "club", :value => @club.name, :hidden => ""}
                                        %input.btn-long{:type => "submit", :value => "LEAVE CLUB"}
                                -if @club.board.include?(session[:username])
                                    %a.btn{:href => "/edit/#{@club.name}"}
                                        %i.fa.fa-fw.fa-pencil
                                - if !clubincludesuser?(@club)
                                    %form{:method => "post", :action => "/join"}
                                        %input{:type => "text", :name => "club", :value => @club.name, :hidden => ""}
                                        %input.btn-long{:type => "submit", :value => "JOIN CLUB"}
                        %h1
                            Meetings:
                        %p
                            ="#{@club.meetingtime}, in #{@club.location}"
                            -if @club.nomeeting
                                %p.nomeeting
                                    Not meeting this week
                        %br
                        %h1
                            Heads:
                        %p
                            -@club.head.each do |head|
                                %a{:href => "mailto:#{head}"}
                                    =head
                                    %br
                            -if @club.head.include? session[:username]
                                %a.add{:onclick => "openpopup('addhead')"}
                                    + Add Co-Head or Transfer Ownership
                        %br
                        %h1
                            Board
                            ="(#{@club.board.length}):"
                        %p
                            -if @club.board.length == 0
                                No board members yet
                                %br
                            -else
                                -@club.board.each do |board|
                                    %a{:href => "mailto:#{board}"}
                                        =board
                                    %br
                            -if @club.head.include? session[:username]
                                %a.add{:onclick => "openpopup('addboard')"}
                                    + Add Board Member
                        %br
                        %h1
                            Members
                            ="(#{@club.members.length}):"
                        %p.member
                            -if @club.members.length == 0
                                No members so far
                            -else
                                -@club.members.each do |member|
                                    %a{:href => "mailto:#{member}"}
                                        =member
                                    %br
                    %footer
                        .left
                            %p
                                Made with 
                                %i.fa.fa-heart
                                in 
                                %a{:href => "https://www.andover.edu", :target => "_blank"}
                                    Andover
                        .right
                            -$footer.each do |link|
                                %a{:href => link[:path]}
                                    =link[:text]
    %script{:src => "/scripts/util.js"}
