!!!
%html
    %head
        %meta{:charset => "utf-8"}/
        %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
        %title
            Dashboard
        %link{:href => "/css/dashboard.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/swal/dist/sweetalert.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/icons/css/font-awesome.min.css", :type => "text/css", :rel => "stylesheet"}
        %link{:href => "/graphics/icon.png", :rel => "shortcut icon", :type => "image/png"}/
        %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"}
        %script{:src => "/scripts/util.js"}
    %body
        #overlay{:hidden => ""}
        #popup{:hidden => ""}
            %h1
                Add Board Member
            %i.fa.fa-times{:onclick => "closeBoard()"}
            %hr
            .members
                -@club.members.each do |member|
                    %section
                        %p
                            =member
                        %a{:href => "/#{@club}/addboard/#{member}"}
        #wrapper
            %nav
                .left
                    %p
                        CLUB RALLY
                .right
                    %a{:href => "/logout"}
                        LOGOUT
                    .contain
                        %form{:action => "/dashboard/search", :method => "get"}
                            %span.fa.fa-fw.fa-search
                            %input{:type => "text", :name => "search"}
            #body
                #sidebar
                    .opt
                        %a{:href => "/dashboard/home"}
                        .left
                            %i.fa.fa-users.fa-fw
                            .color
                        .right
                            MY CLUBS
                    .opt.active
                        %a{:href => "/dashboard/browse"}
                        .left
                            %i.fa.fa-folder-open.fa-fw
                            .color
                        .right
                            BROWSE CLUBS
                    .opt
                        %a{:href => "/dashboard/notifications"}
                        .left
                            %i.fa.fa-newspaper-o.fa-fw
                            .color
                        .right
                            FEED
                            -unless @user.notifications.length == 0
                                ="(#{@user.notifications.length})"
                    .opt
                        %a{:href => "/dashboard/createclub"}
                        .left
                            %i.fa.fa-plus.fa-fw
                            .color
                        .right
                            CREATE A CLUB
                #content
                    #color-strip
                    %header
                        %h1
                            =params[:club]
                    #info.club
                        %h1
                            Meeting Time:
                        %p
                            =@club.meetingtime
                        %br
                        %h1
                            Meeting Location:
                        %p
                            =@club.location
                        %br
                        %h1
                            Head:
                        %p
                            -@club.head.each do |head|
                                %a{:href => "mailto:#{head}"}
                                    =head
                        %br
                        %h1
                            Board
                            ="(#{@club.board.length}):"
                        %p
                            -if @club.board.length == 0
                                No board members yet
                                %br
                            -else
                                -@club.board.each do |board|
                                    %a{:href => "mailto:#{board}"}
                                        =board
                                    %br
                            -if @club.head.include? session[:username]
                                %a.add{:onclick => "addBoard()"}
                                    + Add Board Member
                        %br
                        %h1
                            Members
                            ="(#{@club.members.length}):"
                        %p.member
                            -if @club.members.length == 0
                                No members so far
                            -else
                                -@club.members.each do |member|
                                    %a{:href => "mailto:#{member}"}
                                        =member
                                    %br
                        -if @club.head.include? session[:username]
                            %a.btn{:href => @list}
                                MAIL CLUB
                            %a.btn.green{:href => "/edit/#{@club.name}"}
                                EDIT CLUB
                            %a.btn.red{:href => "/delete/#{@club.name}"}
                                DELETE CLUB
                        -elsif @club.members.include? session[:username]
                            %a.btn.red{:href => "/leave/#{@club.name}"}
                                LEAVE CLUB
                        -else
                            %a.btn{:href => "/join/#{@club.name}"}
                                JOIN CLUB
                    %footer
                        .left
                            Made with
                            %i.fa.fa-heart
                            in Andover
                        .right
                            %a{:href => "mailto:jshen@andover.edu"}
                                CONTACT
